@page "/bode"
@using Excubo.Blazor.Canvas

<h1>Bode</h1>

<p>Bode</p>

<Canvas @ref="helper_canvas" width="150px" height="300px" />

@code {
    private Canvas helper_canvas;
    private ElementReference normal_canvas;
    protected override async Task OnAfterRenderAsync(bool first_render)
    {
        if (first_render)
        {
            await using (var ctx1 = await helper_canvas.GetContext2DAsync())
            {
                await ctx1.FontAsync("48px solid");
                await ctx1.FillTextAsync("Hello", 0, 150);
            }
            //await using (var ctx2 = await js.GetContext2DAsync(normal_canvas))
            //{
            //    await ctx2.FontAsync("48px serif");
            //    await ctx2.StrokeTextAsync("Excubo.Blazor.Canvas", 0, 150);
            //}
        }
    }
}